### Author: Mitchell Krystofiak
### Class: COSC 311 - Project 1
### Date: October 24, 2021
### Description: A project to select three different datasets and describe what the dataset is representing through                                basic statistics and plotting.

# Dataset 1 - League of Legends Diamond Players First 10 Minutes Statistics

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from collections import Counter

In [2]:
lol = pd.read_csv('./LOL_Data.csv') 
                  #header=None, names = ['gameId','Bwins','BwardsP','BwardsD','BfirstB','Bkills',
                  #                                        'Bdeaths','Bassists','Belites','Bdragons','Bheralds','BtowersD',
                  #                                        'BtotalG','BavgL','BtotalXP','BtotalMin','BtotalMon','BgoldDif',
                  #                                        'BexpDif','BminPmin','BgoldPmin','RwardsP', 'RwardsD','RfirstB',
                  #                                        'Rkills','Rdeaths','Rassists','Relites','Rdragons','Rheralds',
                  #                                        'RtowersD','RtotalG','RavgL','RtotalXP','RtotalMin','RtotalMon',
                  #                                        'RgoldDif','RexpDif','RminPmin','RgoldPmin'])

In [3]:
pd.set_option('display.max_columns',None)
lol

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redEliteMonsters,redDragons,redHeralds,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,0,0,17210,6.6,17039,195,36,643,-8,19.5,1721.0,15,6,0,6,9,8,0,0,0,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,4523371949,0,12,1,0,5,5,5,0,0,0,0,14712,6.6,16265,174,43,-2908,-1173,17.4,1471.2,12,1,1,5,5,2,2,1,1,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,4521474530,0,15,0,0,7,11,4,1,1,0,0,16113,6.4,16221,186,46,-1172,-1033,18.6,1611.3,15,3,1,11,7,14,0,0,0,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,4524384067,0,43,1,0,4,5,5,1,0,1,0,15157,7.0,17954,201,55,-1321,-7,20.1,1515.7,15,2,1,5,4,10,0,0,0,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,4436033771,0,75,4,0,6,6,6,0,0,0,0,16400,7.0,18543,210,57,-1004,230,21.0,1640.0,17,2,1,6,6,7,1,1,0,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,4527873286,1,17,2,1,7,4,5,1,1,0,0,17765,7.2,18967,211,69,2519,2469,21.1,1776.5,46,3,0,4,7,7,0,0,0,0,15246,6.8,16498,229,34,-2519,-2469,22.9,1524.6
9875,4527797466,1,54,0,0,6,4,8,1,1,0,0,16238,7.2,19255,233,48,782,888,23.3,1623.8,12,21,1,4,6,3,0,0,0,0,15456,7.0,18367,206,56,-782,-888,20.6,1545.6
9876,4527713716,0,23,1,0,6,7,5,0,0,0,0,15903,7.0,18032,210,45,-2416,-1877,21.0,1590.3,14,0,1,7,6,11,1,1,0,0,18319,7.4,19909,261,60,2416,1877,26.1,1831.9
9877,4527628313,0,14,4,1,2,3,3,1,1,0,0,14459,6.6,17229,224,48,-839,-1085,22.4,1445.9,66,4,0,3,2,1,0,0,0,0,15298,7.2,18314,247,40,839,1085,24.7,1529.8
9878,4523772935,1,18,0,1,6,6,5,0,0,0,0,16266,7.0,17321,207,44,927,-58,20.7,1626.6,9,2,0,6,6,4,1,1,0,0,15339,6.8,17379,201,46,-927,58,20.1,1533.9

In [4]:
lol.isnull().values.any()

False

(a) The data being sampled is the first 10 minutes of almost 10,000 League of Legends games. There are 40 columns of data, detailing each and every action each team performs, including wards, kills, deaths, objectives, monster kills, first bloods and more.

(b) In League of Legends, the first 10 minutes of the game can greatly influence the conclusion of the game. Securing objectives, getting ahead on kills, earning bonus gold, and gaining more experience can give a particular team the edge on the game. This data is measuring the impact the first 10 minutes can have on the game and it may be able to predict the outcome.

(c) The majority of the data is quantitative. The number of wards, the count of gold, almost everything is countable. The only things that could be considered is the win/loss, but they can also be quantitative since they are in 0's and 1's. The game id has very little use, but is quantitative.

The data is nominal. There is no preference to the ordering of the data. The data is discrete because it can be counted. The time is fixed at 10 minutes, the game ids are unique, and everything else is just a count, i.e. the number of kills, or the number of wards placed.

(d) The data is complete. Using the Pandas 'isnull().values.any()', we test the entire data frame for null values.

(e) These features are all aspects of a League of Legend game. Though some details might not seem to make the greatest impact, i.e. the number of dragons killed, they actually can greatly influence the game. Several of the counted objectives offer gold, experience, or gameplay incentives to improve a players abilities and odds for successful fights. Though there is no clear indication of the importance of these columns, the features all contribute to, or can be determined to contribute to the final outcome.

(f) Two of the most critical pieces of information missing from this dataset are the items that each player builds and the actual chosen champion. I would include a 10 more columns: 'Bplayer1','Bplayer2'... up to 5 players for each team. I would also include columns for the items, however getting them in a quantitative form may be difficult (i.e. stats). I would at the minimum include 'Bplayer1Items' ... to list the items, but I would actually prefer (I suppose) a sub-dataframe where each item has it's own stats reported. OR!! WE could just record each players ending stats, which include the item buffs and basic leveling up stats. As for the champions, each champion has different counters, synergies, roles and etc. I would say that the team composition is rather important.

NOTE: This naturally makes me think of neural networks. Feed hundreds of thousands of LoL games into a network with the champions chosen and the outcome, and have the network detect the best synergies, or the champions with the highest win rates.

(g) 

(hi)
 
(hii)

(hiii) The main things missing from this data are the items and champions. If we had this data, we may be able to infer that early damaging items are more powerful to have early in the game whereas support items will be better long-term. I would hypothesize that a particular champion getting more kills early on will give that champion more gold, more experience, and thus more items and stronger attacks. This champion would greatly influence battles in the game and may lead to a win. But, I would say that the longer the game runs, the less likely a 'fed' champion will impact the game. Some champions constantly accumulate armor, health, and magic damage, making them harder to kill later on. For example, Veigar has an ability that will increase his ability power every time he hits it. Early on, it may give him 100 extra damage, but it is uncapped and later could give 1000 extra damage.

(i) Though there are several extra features that can be computed, one is to determine the player participation of each team. Since we have the number of kills and assists, we can figure out the average of how many players typically help with a kill. For example, if we have 9 kills and 0 assists, that means that there are no team plays. If we have 3 kills and 9 assists, we can compute that there are an average of 3 people helping out with each kill (1 gets the kill). We can then carry this further to see if more kill participation influences the end result, or more kills, or more objectives secured.

# Dataset 2 - Hotel Bookings

In [5]:
hotel = pd.read_csv('./hotel_bookings.csv')

In [6]:
hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [7]:
for i in hotel.columns:
    print(f"{i}: {hotel[i].isnull().values.any()}")

hotel: False
is_canceled: False
lead_time: False
arrival_date_year: False
arrival_date_month: False
arrival_date_week_number: False
arrival_date_day_of_month: False
stays_in_weekend_nights: False
stays_in_week_nights: False
adults: False
children: True
babies: False
meal: False
country: True
market_segment: False
distribution_channel: False
is_repeated_guest: False
previous_cancellations: False
previous_bookings_not_canceled: False
reserved_room_type: False
assigned_room_type: False
booking_changes: False
deposit_type: False
agent: True
company: True
days_in_waiting_list: False
customer_type: False
adr: False
required_car_parking_spaces: False
total_of_special_requests: False
reservation_status: False
reservation_status_date: False

(a) This is a weird set, the data is a collection of 119000 hotel bookings, number of guests, parking spaces, customer types, and more. Each row represents one hotel booking and provides every little detail of an individual booking.

(b) This dataset is raw. There are many different Nan's and incomplete data, there are lots of columns that may or may not be necessary, a lot of work is waiting to be done. It can be used to measure the best times to book a hotel and find the best rate, or how long of a stay will find the optimal daily rate, and much more.

(c) There are many of both qualitative and quantitative types of data. For example, the country, the market_segment (TA- Travel Agent, TO - Tour Operators, etc.), the distribution_channel (same as market_segment), deposit type and a few others are all qualitative. Even the binary decisions 0 or 1 for say repeated guest..? can be interpretted as yes/no. On the otherhand, variables like number of days stayed, arrival date, number of adults, number of childrens and the daily rate are all quantitative.

The data is nominal and discrete. We are given isolated values that don't rely on a preference and all of the values are countable.

(d) The data is not complete. There are many NaN values. Looking at the code above, we have NaN's in the children, country, agent and company columns. These NaN values can tell us that there are some unrecorded or unspecified value. Looking at the company column, we can maybe infer that the value was less reported, or that not so many people used a company to complete their booking.

(e) There is a lot of data to unpack here. Some things might not make the most since, such as the recording of a travel agent assisting or a type of meal. When I book a hotel, I just sleep in the place through an online website. Even I don't understand all off the columns of the data. But, my first instinct with the data is to use the dates of booking, number of people, daily prices and extent of the stay to figure out the optimal stay length for the best value.

(f) This data is very inclusive. I would actually cut some to work with a refined set, but if there were anything to add, it would be the number of rooms booked. You can use this to see how a single booking impacts the the capacity of a hotel, and how this strain on capacity impacts the daily price, if it impacts the daily price. And more.

(g)

(hi)

(hii)

(hiii) One inference I would make is that the number of rooms available impacts the price. If we look at the number of hotel rooms booked, the lead time of the booking, and the cost, I would hypothesize that the difference in lead time impacts the price because there are more rooms available at the time of booking. If you spend more for a smaller leadtime, it's most likely because of a capacity and convience fee. It would also be important to look at other events happening, such as a local concert nearby, or a holiday season (Christmas time plane tickets and really everything are more expensive naturally).

(i) One of the best features to exploit from this data is the best times to book a hotel room for the best price. We can compare the daily rate to the number of days staying and the time of the week staying to figure out the best months to go on vacation and get the most convenient rate. We could also use the number of days booked before to see if we can find the ideal time to book before you go.

# Dataset 3 - College Tuition and Income Brackets

In [8]:
college = pd.read_csv('./tuition_income.csv')

In [9]:
college

,name,state,total_price,year,campus,net_cost,income_lvl
0,Piedmont International University,NC,20174,2016,On Campus,11475.00000,"0 to 30,000"
1,Piedmont International University,NC,20174,2016,On Campus,11451.00000,"30,001 to 48,000"
2,Piedmont International University,NC,20174,2016,On Campus,16229.00000,"48_001 to 75,000"
3,Piedmont International University,NC,20174,2016,On Campus,15592.00000,"75,001 to 110,000"
4,Piedmont International University,NC,20514,2017,On Campus,11668.39249,"0 to 30,000"
...,...,...,...,...,...,...,...
209007,Alabama A & M University,AL,23462,2018,Off Campus,15089.45111,"0 to 30,000"
209008,Alabama A & M University,AL,23462,2018,Off Campus,14810.60535,"30,001 to 48,000"
209009,Alabama A & M University,AL,23462,2018,Off Campus,17167.46710,"48_001 to 75,000"
209010,Alabama A & M University,AL,23462,2018,Off Campus,17558.05619,"75,001 to 110,000"
209011,Alabama A & M University,AL,23462,2018,Off Campus,19433.08888,"Over 110,000"

In [10]:
for i in college.columns:
    print(f"{i}: {college[i].isnull().values.any()}")

name: False
state: False
total_price: False
year: False
campus: False
net_cost: False
income_lvl: False

(a) This dataset collects numerous colleges from accross the United States comparing tuition paid to income bracket from that university. The data comes from 2018-2019, and there are about 3664 unique colleges reported. In each row, the college, the year, the state, the tuition price, the in person status, the total cost after scholarships and such, and the income level based on tuition.

(b) This data puts into perspective the benefit or lack there of paying more for college. It allows college students or future college students to measure the worth of their education, assuming college for most people is about the income. You can also measure the impact of student aid on the total cost.

(c) The features are a mix of both qualitative and quantitative: the name of the university, state and in person status are all qualitative while the rest are quantitative. 

The data is nominal and discrete. We are just trying to declare a numerical statement about college tuition and it's predicted income without a preference.

(d) The data is complete. With the above for loop, we test every column for NaN values, and find none.

(e) These features are important to realizing the impact of financial aid, and the real cost and outlook of college education. You may be able to use the on-campus/off-campus information to weigh the difference between online and in-person schooling. The state can also give you a look into regional cost for education. All of the data here is important or can be important.

(f) I would actually add a lot of data here! Luckily for me, there is about 4 more csv files on kaggle, which looks at enrollment numbers, race, enrollment per race, historical tuition, years of programs, salary potential and more. Combining all of these documents, we can make some *zesty* statements and/or predictions. The only thing I may add is a breakdown of major and an average GPA to rate the complexity of a major and how it impacts the cost-to-future-salary ratio. There is a column (on a another csv file) that gives a percentage of the student body in stem, but that's just not enough. I would go even further to breakdown of average scores in classes in each major ... and so on.

(g)

(hi)

(hii)

(hiii) One hypothesis on data we don't have is that STEM majors will have a higher income after college. In addition, I would also say that the longer term of education will result in less actual pay as a result of scholarships and higher income. This might not hold for the specific careers not included, such as automechanics, radioligists, other careers that can take less time to complete for higher rewards.

(i) Some extra features that we can compute from this data is if the cost of college changes by region. We are given a bunch of different universities from accross the United States and I can almost guarentee that the cost of certain regions (i.e. California, New York, etc.) will be different. There may be a limit to how much is charged, but there is most likely to be a difference. We could also compute the actual benefit of paying more for school, or find that there is no real difference. I imagine the major plays a difference, and maybe at a later date, we can consider the major.